@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Тестовое задание KeST3107</h1>
    <p align="left">Junior Разработчик C# .Net</p>
    <p align="left">Описание задачи</p>
    <p align="left">Реализовать простое Web приложение для приемки заказа на доставку со следующим функционалом:</p>

    <p align="left">-Форма создания нового заказа (все поля обязательны для заполнения):</p>
    <p align="left">-Город отправителя</p>
    <p align="left">-Адрес отправителя</p>
    <p align="left">-Город получателя</p>
    <p align="left">-Адрес получателя</p>
    <p align="left">-Вес груза</p>
    <p align="left">-Дата забора груза</p>

    <p align="left">
        Форма отображения списка заказов: все созданные заказы должны отображаться в отдельной форме. Помимо полей, введенных пользователем при создании заказа, должен отображаться автоматически сгенерированный номер заказа.
    </p>
    <p align="left">Технологии</p>
    <p align="left">Необходимо использовать следующий стек технологий:</p>
    <p align="left">-ASP.NET Core</p>
    <p align="left">-Entity Framework Core</p>
    <p align="left">-База данных может быть любой</p>
    <p align="left">
        Исходный код необходимо разместить на любом публичном репозитории (например, github, bickbucket). В файле readme.md (в корневой папке проекта) необходимо дать краткое описание действий, необходимых для запуска проекта.
    </p>
    <p align="left">Ссылка на тестовое задание: <a href="https://versta24.ru/hr/testfordevjun">https://versta24.ru/hr/testfordevjun</a></p>
</div>
