@model OrderEditDto

@{
    ViewBag.Title = "Редактирование заказа";
    Layout = "_Layout";
}

<h2>Редактирование заказа</h2>
<form method="post" asp-controller="Order" asp-action="Edit">
    <div asp-validation-summary="ModelOnly"></div>

    <input type="hidden" asp-for="Id"/>

    <div class="form-group">
        <label asp-for="SenderCity"></label><br/>
        <input asp-for="SenderCity" class="form-control"/>
        <span asp-validation-for="SenderCity"></span>

        <label asp-for="SenderAddress"></label><br/>
        <input asp-for="SenderAddress" class="form-control"/>
        <span asp-validation-for="SenderAddress"></span>

        <label asp-for="RecipientCity"></label><br/>
        <input asp-for="RecipientCity" class="form-control"/>
        <span asp-validation-for="RecipientCity"></span>

        <label asp-for="RecipientAddress"></label><br/>
        <input asp-for="RecipientAddress" class="form-control"/>
        <span asp-validation-for="RecipientAddress"></span>

        <label asp-for="CargoWeight"></label><br/>
        <input asp-for="CargoWeight" class="form-control"/>
        <span asp-validation-for="CargoWeight"></span>

        <label asp-for="PickupDate"></label><br/>
        <input asp-for="PickupDate" class="form-control"/>
        <span asp-validation-for="PickupDate"></span>

    </div>

    <div class="text-center">
        <input type="submit" value="Сохранить" class="btn btn-outline-primary"/>
    </div>
</form>
