@model OrderEditDto

@{
    ViewBag.Title = "Редактирование заказа";
    Layout = "_Layout";
}

<body>
<h2>Редактирование заказа</h2>
<form id="main" class="needs-validation" asp-controller="Order" asp-action="Edit" method="post" novalidate>
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="Id"/>
    <div class="form-group">
        <div class="mb-3">
            <label asp-for="SenderCity" for="senderCity" class="form-label"></label><br/>
            <input id="senderCity" asp-for="SenderCity" placeholder="Заполните город отправителя" class="form-control" name="senderCity" type="text" required>
            <div class="valid-feedback">
                Правильно!
            </div>
            <div class="invalid-feedback">
                Поле обязательно!
            </div>
            <span asp-validation-for="SenderCity"></span>
        </div>

        <div class="mb-3">
            <label asp-for="SenderAddress" for="senderAddress"></label>
            <input id="senderAddress" asp-for="SenderAddress" placeholder="Заполните адрес отправителя" class="form-control" name="senderAddress" type="text" required/>
            <div class="valid-feedback">
                Правильно!
            </div>
            <div class="invalid-feedback">
                Поле обязательно!
            </div>
            <span asp-validation-for="SenderAddress"></span>
        </div>

        <div class="mb-3">
            <label asp-for="RecipientCity" for="recipientCity"></label>
            <input id="recipientCity" asp-for="RecipientCity" placeholder="Заполните город получателя" class="form-control" name="recipientCity" type="text" required/>
            <div class="valid-feedback">
                Правильно!
            </div>
            <div class="invalid-feedback">
                Поле обязательно!
            </div>
            <span asp-validation-for="RecipientCity"></span>
        </div>
        <div class="mb-3">
            <label asp-for="RecipientAddress" for="recipientAddress"></label>
            <input id="recipientAddress" asp-for="RecipientAddress" placeholder="Заполните адрес получателя" class="form-control" name="recipientAddress" type="text" required/>
            <div class="valid-feedback">
                Правильно!
            </div>
            <div class="invalid-feedback">
                Поле обязательно!
            </div>
            <span asp-validation-for="RecipientAddress"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CargoWeight" for="cargoWeight"></label>
            <input id="cargoWeight" asp-for="CargoWeight" class="form-control" placeholder="Заполните вес груза" name="cargoWeight" type="number" required/>
            <div class="valid-feedback">
                Правильно!
            </div>
            <div class="invalid-feedback">
                Поле обязательно!
            </div>
            <span asp-validation-for="CargoWeight"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PickupDate" for="pickupDate"></label>
            <input id="pickupDate" asp-for="PickupDate" class="form-control" name="pickupDate" required/>
            <div class="valid-feedback">
                Правильно!
            </div>
            <div class="invalid-feedback">
                Поле обязательно!
            </div>
            <span asp-validation-for="PickupDate"></span>
        </div>
    </div>
    <div class="text-center">
        <input type="submit" value="Сохранить" class="btn btn-outline-primary"/>
    </div>
</form>
<script>// Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
</script>
</body>
